/* fonts */

.sansSerif {
  font-family: "FranklinGothic URW Cond", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
}

/* font weight */

.fontWeightNormal {
  font-weight: normal;
}

.fontWeightBold {
  font-weight: 700;
}

/* emphasis */

.fontStyleRegular {
  font-style: normal;
}

.fontStyleItalic {
  font-style: italic;
}

/* decorations */

.underline {
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none;
}

/* alignment */

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.textJustify {
  text-align: justify;
}

